@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pcpLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
  background: #111111;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.pcpLogin .pcpImg {
  width: 100%;
  position: relative;
}

.pcpLogin .pcpImg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.pcpLogin .pcpImg::after {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #bbbbbb33 0% 0% no-repeat padding-box;
  opacity: 0.1;
}

.pcpLogin .pcpDetails {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 70%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 15%;
  background-color: #e50914a2;
  -webkit-animation: ani 4s linear infinite;
          animation: ani 4s linear infinite;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 20% 90%, 0 50%, 20% 10%);
          clip-path: polygon(100% 0, 100% 100%, 20% 90%, 0 50%, 20% 10%);
}

@media (max-width: 700px) {
  .pcpLogin .pcpDetails {
    padding: 30px 7%;
    -webkit-clip-path: unset;
            clip-path: unset;
  }
}

.pcpLogin .pcpDetails::before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), calc(20% + 5px) calc(90% - 5px), 5px 50%, calc(20% + 5px) calc(10% + 5px));
          clip-path: polygon(calc(100% - 5px) 5px, calc(100% - 5px) calc(100% - 5px), calc(20% + 5px) calc(90% - 5px), 5px 50%, calc(20% + 5px) calc(10% + 5px));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #111111;
}

@media (max-width: 700px) {
  .pcpLogin .pcpDetails::before {
    -webkit-clip-path: unset;
            clip-path: unset;
  }
}

.pcpLogin .pcpDetails .vvlogo {
  width: 233px;
  height: 106px;
  margin-bottom: 20px;
}

.pcpLogin .pcpDetails .vvlogo img {
  height: 100%;
  width: 100%;
}

.pcpLogin .pcpDetails .pcpHeading {
  color: #e50914;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.pcpLogin .pcpDetails .pcpInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pcpLogin .pcpDetails .pcpInputs .email,
.pcpLogin .pcpDetails .pcpInputs .pass,
.pcpLogin .pcpDetails .pcpInputs .num,
.pcpLogin .pcpDetails .pcpInputs .name {
  position: relative;
  margin-bottom: 1rem;
}

.pcpLogin .pcpDetails .pcpInputs .email input,
.pcpLogin .pcpDetails .pcpInputs .pass input,
.pcpLogin .pcpDetails .pcpInputs .num input,
.pcpLogin .pcpDetails .pcpInputs .name input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #242424;
  border: none;
  outline: none;
  padding: 14px 30px 14px 60px;
  font-size: 1.2rem;
  border-radius: 21px;
  color: #ffffff;
  width: 100%;
}

.pcpLogin .pcpDetails .pcpInputs .email img,
.pcpLogin .pcpDetails .pcpInputs .pass img,
.pcpLogin .pcpDetails .pcpInputs .num img,
.pcpLogin .pcpDetails .pcpInputs .name img {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.pcpLogin .pcpBttn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 50px;
  border: 1px solid #e50914;
  border-radius: 20px;
  color: #e50914;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2rem;
  cursor: pointer;
}

.pcpLogin .pcpBttn:hover {
  border: 1px solid #111111;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(var(--unnamed-color-E50914)), to(#e50914c7)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, var(--unnamed-color-E50914) 0%, #e50914c7 100%) 0% 0% no-repeat padding-box;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#e50914), to(#e50914c7)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #e50914 0%, #e50914c7 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .pcpLogin {
    overflow: visible;
  }
  .pcpLogin .pcpImg {
    min-width: 100%;
    opacity: 0.5;
    height: 100vh;
    position: fixed;
  }
  .pcpLogin .pcpDetails {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
    min-width: 320px;
    background: #111111;
    opacity: 0.85;
  }
}

@-webkit-keyframes ani {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #e50914;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes ani {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #e50914;
  }
  100% {
    background-color: transparent;
  }
}

.fix {
  position: fixed;
  width: 63%;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #111111;
  z-index: 1000;
}

@media (max-width: 800px) {
  .fix {
    width: 100%;
  }
}

.valid {
  color: green;
  z-index: 1000;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
  z-index: 1000;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
  z-index: 1000;
}

#message {
  z-index: 1000;
  display: none;
}

.invalid,
.valid,
.hea {
  font-size: 1rem;
  text-align: center;
  z-index: 1000;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
  z-index: 1000;
}

.projects-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.projects-page a {
  color: #fff;
  text-decoration: none;
  width: 400px;
}

.projects-page a img {
  width: 100%;
}

.projects-page a::before {
  content: "Click on";
  color: #111111;
  font-size: x-small;
}
/*# sourceMappingURL=form.css.map */